In [1]:
!pip list

Package                   Version
------------------------- -----------
anyio                     4.12.0
argon2-cffi               25.1.0
argon2-cffi-bindings      25.1.0
arrow                     1.4.0
asttokens                 3.0.1
async-lru                 2.0.5
attrs                     25.4.0
babel                     2.17.0
beautifulsoup4            4.14.3
bleach                    6.3.0
certifi                   2025.11.12
cffi                      2.0.0
charset-normalizer        3.4.4
colorama                  0.4.6
comm                      0.2.3
contourpy                 1.3.2
cycler                    0.12.1
debugpy                   1.8.19
decorator                 5.2.1
defusedxml                0.7.1
exceptiongroup            1.3.1
executing                 2.2.1
fastjsonschema            2.21.2
fonttools                 4.61.1
fqdn                      1.5.1
h11                       0.16.0
httpcore                  1.0.9
httpx                     0.28.1
idna                      3.11
ipykernel                 7.1.0
ipython                   8.37.0
ipywidgets                8.1.8
isoduration               20.11.0
jedi                      0.19.2
Jinja2                    3.1.6
joblib                    1.5.3
json5                     0.12.1
jsonpointer               3.0.0
jsonschema                4.25.1
jsonschema-specifications 2025.9.1
jupyter                   1.1.1
jupyter_client            8.7.0
jupyter-console           6.6.3
jupyter_core              5.9.1
jupyter-events            0.12.0
jupyter-lsp               2.3.0
jupyter_server            2.17.0
jupyter_server_terminals  0.5.3
jupyterlab                4.5.1
jupyterlab_pygments       0.3.0
jupyterlab_server         2.28.0
jupyterlab_widgets        3.0.16
kiwisolver                1.4.9
lark                      1.3.1
MarkupSafe                3.0.3
matplotlib                3.10.8
matplotlib-inline         0.2.1
mistune                   3.1.4
nbclient                  0.10.2
nbconvert                 7.16.6
nbformat                  5.10.4
nest-asyncio              1.6.0
notebook                  7.5.1
notebook_shim             0.2.4
numpy                     2.2.6
overrides                 7.7.0
packaging                 25.0
pandas                    2.3.3
pandocfilters             1.5.1
parso                     0.8.5
pillow                    12.0.0
pip                       21.2.3
platformdirs              4.5.1
prometheus_client         0.23.1
prompt_toolkit            3.0.52
psutil                    7.1.3
pure_eval                 0.2.3
pycparser                 2.23
Pygments                  2.19.2
pyparsing                 3.2.5
python-dateutil           2.9.0.post0
python-json-logger        4.0.0
pytz                      2025.2
pywinpty                  3.0.2
PyYAML                    6.0.3
pyzmq                     27.1.0
referencing               0.37.0
requests                  2.32.5
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rfc3987-syntax            1.1.0
rpds-py                   0.30.0
scikit-learn              1.7.2
scipy                     1.15.3
seaborn                   0.13.2
Send2Trash                1.8.3
setuptools                57.4.0
six                       1.17.0
soupsieve                 2.8
stack-data                0.6.3
terminado                 0.18.1
threadpoolctl             3.6.0
tinycss2                  1.4.0
tomli                     2.3.0
tornado                   6.5.4
traitlets                 5.14.3
typing_extensions         4.15.0
tzdata                    2025.3
uri-template              1.3.0
urllib3                   2.6.2
wcwidth                   0.2.14
webcolors                 25.10.0
webencodings              0.5.1
websocket-client          1.9.0
widgetsnbextension        4.0.15

WARNING: You are using pip version 21.2.3; however, version 25.3 is available.
You should consider upgrading via the 'C:\Users\прог\Documents\GitHub\happy_people\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [37]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

df = pd.read_csv('data/world_happiness_2024.csv', sep = ';', decimal=',')
df.head()

,Ranking,Country,Regional indicator,Ladder score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,140,Afghanistan,South Asia,1.7210,2.93451,0.00000,62,0.00000,0.22638,0.15383
1,86,Albania,Central and Eastern Europe,5.3042,6.71748,0.57133,74,0.79892,0.34403,0.08517
2,84,Argelia,Sub-Saharan Africa,5.3635,6.18327,0.73652,72,0.28611,0.22771,0.34775
3,48,Argentina,Latin America and Caribbean,6.1881,7.29612,0.85449,73,0.78851,0.21822,0.13990
4,81,Armenia,Commonwealth of Independent States,5.4549,6.74410,0.71415,73,0.75317,0.12831,0.30090

In [39]:
df.columns

Index(['Ranking', 'Country', 'Regional indicator', 'Ladder score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [40]:
df.dtypes

Ranking                           int64
Country                          object
Regional indicator               object
Ladder score                    float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy           int64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [ ]:
numeric_columns = ['Ladder score', 'GDP per capita', 'Social support', 
                   'Healthy life expectancy', 'Freedom to make life choices', 
                   'Generosity', 'Perceptions of corruption']

In [35]:
df.describe()

,Ranking,Ladder score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,140.0000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,70.5000,5.530882,6.441332,0.701704,70.828571,0.718830,0.365076,0.267990
std,40.5586,1.181221,1.985895,0.206188,4.991998,0.188223,0.183260,0.219563
min,1.0000,1.721000,0.000000,0.000000,55.000000,0.000000,0.000000,0.000000
25%,35.7500,4.631600,5.033228,0.569993,67.000000,0.610878,0.227378,0.118947
50%,70.5000,5.800600,6.686325,0.765350,72.000000,0.742625,0.340100,0.208900
75%,105.2500,6.426050,8.134660,0.855785,75.000000,0.852877,0.480635,0.336473
max,140.0000,7.740700,10.000000,1.000000,81.000000,1.000000,1.000000,1.000000

In [20]:
df.shape

(140, 10)

*Самые счастливые страны*

In [21]:
df.nlargest(10, 'Ladder score')

,Ranking,Country,Regional indicator,Ladder score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
39,1,Finland,Western Europe,7.7407,8.61498,0.97268,76.0,0.99532,0.35347,0.94966
31,2,Denmark,Western Europe,7.5827,8.91278,0.94051,76.0,0.95298,0.50792,0.95358
52,3,Iceland,Western Europe,7.5251,8.78627,1.00000,77.0,0.94808,0.64455,0.31728
120,4,Sweden,Western Europe,7.3441,8.77425,0.92843,77.0,0.97097,0.55252,0.91078
58,5,Israel,Middle East and North Africa,7.3411,8.42288,0.93583,78.0,0.74301,0.38224,0.33528
93,6,Netherlands,Western Europe,7.3194,8.87942,0.90444,76.0,0.83986,0.61715,0.64757
99,7,Norway,Western Europe,7.3017,9.11908,0.93815,76.0,0.96762,0.55922,0.84146
76,8,Luxembourg,Western Europe,7.1219,10.00000,0.83799,77.0,0.92805,0.36347,0.75188
121,9,Switzerland,Western Europe,7.0602,9.20463,0.88148,78.0,0.87934,0.43239,0.86525
5,10,Australia,North America and ANZ,7.0569,8.66266,0.90385,76.0,0.87599,0.56188,0.56224

*Самые коррумпированные страны*

In [26]:
df.nsmallest(10, 'Perceptions of corruption')

,Ranking,Country,Regional indicator,Ladder score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
12,64,Bosnia and Herzegovina,Central and Eastern Europe,5.8770,6.84293,0.81541,73.0,0.71889,0.61470,0.00000
15,80,Bulgaria,Central and Eastern Europe,5.4627,7.61209,0.90860,72.0,0.71861,0.20780,0.01069
107,32,Romania,Central and Eastern Europe,6.4912,7.93747,0.76443,73.0,0.83000,0.10157,0.01098
98,83,North Macedonia,Central and Eastern Europe,5.3691,6.89230,0.78971,72.0,0.67150,0.48347,0.02544
126,112,Tunisia,Middle East and North Africa,4.4218,6.10340,0.59058,73.0,0.29414,0.05960,0.03191
97,100,Nigeria,Sub-Saharan Africa,4.8808,4.86691,0.66531,63.0,0.65538,0.50252,0.03300
124,58,Thailand,Southeast Asia,5.9761,6.93387,0.83309,74.0,0.87531,0.70510,0.04204
129,102,Ukraine,Commonwealth of Independent States,4.8730,6.30641,0.81364,71.0,0.73048,0.71213,0.04414
45,117,Ghana,Sub-Saharan Africa,4.2894,5.02920,0.46219,66.0,0.72188,0.45589,0.04822
61,66,Jamaica,Latin America and Caribbean,5.8417,5.98077,0.81892,72.0,0.74933,0.22265,0.04880

*Самые несчастливые страны*

In [ ]:
df.nsmallest(10, 'Ladder score')

,Ranking,Country,Regional indicator,Ladder score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,140,Afghanistan,South Asia,1.7210,2.93451,0.00000,62.0,0.00000,0.22638,0.15383
71,139,Lebanon,Middle East and North Africa,2.7065,6.43174,0.35676,72.0,0.20065,0.16876,0.05003
72,138,Lesotho,Sub-Saharan Africa,3.1862,3.60103,0.52618,55.0,0.60601,0.20480,0.14774
112,137,Sierra Leone,Sub-Saharan Africa,3.2452,3.05663,0.35012,63.0,0.54328,0.45249,0.09268
26,136,Congo (Kinshasa),Sub-Saharan Africa,3.2954,2.49318,0.41119,63.0,0.54754,0.47074,0.12548
139,135,Zimbabwe,Sub-Saharan Africa,3.3411,3.49606,0.52587,62.0,0.56401,0.23983,0.22708
13,134,Botswana,Sub-Saharan Africa,3.3834,6.74926,0.59919,62.0,0.65642,0.03599,0.14271
78,133,Malawi,Sub-Saharan Africa,3.4210,2.88206,0.25386,66.0,0.66127,0.33636,0.23615
37,132,Eswatini,Sub-Saharan Africa,3.5020,5.86448,0.57229,60.0,0.32912,0.14811,0.20145
138,131,Zambia,Sub-Saharan Africa,3.5024,4.19978,0.50041,63.0,0.84216,0.41825,0.19012

# ВВП vs Уровень счастья

In [43]:
plt.figure(figsize=(12, 5))

plt.subplot(1, 2, 1)
plt.scatter(df['GDP per capita'], df['Ladder score'], alpha=0.6)
plt.xlabel('GDP per capita')
plt.ylabel('Ladder score (Happiness)')
plt.title('GDP vs Happiness Score')
plt.grid(True, alpha=0.3)

TypeError: 'module' object is not callable

# 10 счастливых стран (горизонтальные бары)

In [44]:
top_10 = df.nlargest(10, 'Ladder score')

plt.subplot(1, 2, 2)
top_10_sorted = top_10.sort_values('Ladder score')
plt.barh(top_10_sorted['Country'], top_10_sorted['Ladder score'])
plt.xlabel('Ladder score')
plt.title('Top 10 Happiest Countries')
plt.tight_layout()
plt.show()

AttributeError: module 'matplotlib' has no attribute 'subplot'

# КОРРЕЛЯЦИЯ С ПОКАЗАТЕЛЕМ СЧАСТЬЯ

In [33]:
correlation_cols = ['Ladder score', 'GDP per capita', 'Social support',
                    'Healthy life expectancy', 'Freedom to make life choices',
                    'Generosity', 'Perceptions of corruption']

correlations = df[correlation_cols].corr()['Ladder score'].sort_values(ascending=False)
for factor, corr in correlations.items():
    print(f"{factor:30}: {corr:+.3f}")

Ladder score                  : +1.000
Social support                : +0.814
GDP per capita                : +0.769
Healthy life expectancy       : +0.759
Freedom to make life choices  : +0.644
Perceptions of corruption     : +0.452
Generosity                    : +0.130

# Анализ выбросов

In [49]:
import matplotlib as plt 

plt.style.use('seaborn-v0_8')
sns.set_palette('husl')
plt.figure(figsize=(14, 8))
df[numeric_columns].boxplot()
plt.title('Ящик с усами', fontsize=16,fontweight='bold',pad=20)
plt.xlabel('переменные')
plt.ylabel('значения')
plt.xticks(rotation=45,ha='right')
plt.grid(True,alpha=.3)
plt.tight_layout()
plt.show()

TypeError: 'module' object is not callable